/* PAGE2 */
.sub-page-02{
    padding: 80px;

    
    .tips-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 16px;
        }

        .tips-table th,
        .tips-table td {
        border: 1px solid #ccc;
        padding: 12px;
        text-align: left;
        }

        .tips-table th {
        background-color: #e6e6e6;
    }    

}